@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');

body {
    background: #F2F2F2;
    margin: 0;
    font-family: 'Poppins';
}

.navbar {
    background: white;
    padding: 1em;
}
  

.navbar .container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    place-content: space-between;
}

a {
    color: #444444;
  }
  
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

section {
    padding: 2em 2em;
}
  
  