@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');


body {
    background: white;
    margin: 0;
    font-family: 'Poppins';
}
.navbar {
    background: white;
    padding: 1em;
    
    nav {
        display: none;
    }
    .container {
        display: flex;
        place-content: space-between;
    }
}

a {
    color: #444444;
}

ul {
   list-style-type: none; 
   margin: 0;
   padding: 0;
}

section {
    padding: 5em 2em;
}
